.form-home {
    justify-content: center;
    justify-items: center;
    padding: 2em;
    margin-left: 20%;
}

.btnsendcolor {
    background-color: rgb(226, 179, 91);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: white;
    margin: 5% 30% 0;
    width: 50%;
}

.sendicon {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: 10%;
}

.btnsend {
    height: 60px;
}

.btnsend:hover {
    background-color: rgb(224, 107, 107);
    ;
}